.searchbarcontainer{
    background-color: transparent;
    position: relative;
    align-items: center;
    width: 100%;
}

.searchInputWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}


.searchInputWrapper input {
    flex-grow: 1;
    min-width: 0;
}

.input-wrapper {
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    max-height: 40px;
    box-sizing: border-box;
    gap: 8px;
}